html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer
}

header {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

    body header .top {
        height: 64px;
        background-color: #fff;
        padding: 10px 0;
    }

        body header .top .top_search {
            width: 420px;
            position: relative;
            margin-left: 20px;
            float: left;
        }

            body header .top .top_search input {
                background-color: #f9f9f9;
                width: 100%;
                height: 100%;
                border: solid 1px #e0e0e0;
                border-radius: 50px;
                padding: 0 45px 0 20px;
                color: #757575;
                font-family: inherit;
                font-weight: inherit;
                font-size: inherit;
                height: 44px;
            }

            body header .top .top_search button {
                color: #76b852;
                background: 0 0;
                border: none;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-10px, -50%);
                font-size: 19px;
            }

            body header .top .top_search .search_result {
                position: absolute;
                background-color: #fff;
                width: 100%;
                margin-top: 2px;
                border-radius: 3px;
                box-shadow: 0 0 8px 0 rgb(0 0 0 / 15%);
                max-height: 400px;
                z-index: 2;
                overflow: auto;
                display: none;
            }

        body header .top .logo {
            float: left;
            color: #333;
            font-size: 22px;
            letter-spacing: 1px;
            line-height: 44px;
        }

            body header .top .logo img {
                height: 40px;
                float: left;
            }

        body header .top .right ul li .hidden_div {
            position: absolute;
            right: 0;
            top: 54px;
            z-index: 3;
            display: none
        }

            body header .top .right ul li .hidden_div ul {
                background-color: #fff;
                padding: 15px;
                width: 250px;
                box-shadow: 0 0 1px 0 #000;
                border-radius: 5px
            }

        body header .top .right > ul > li {
            position: relative;
            float: left;
            margin-left: 10px
        }

        body header .top .right ul li ul li {
            float: none;
            margin-left: 0
        }

        body header .top .right ul li .hidden_div ul li {
            line-height: 35px;
            font-size: 15px
        }

        body header .top .right ul li.profile {
        }

            body header .top .right ul li.profile .member_profile {
                cursor: pointer
            }

                body header .top .right ul li.profile .member_profile img {
                    width: 44px;
                    height: 44px;
                    border-radius: 80px;
                    float: left
                }

                body header .top .right ul li.profile .member_profile .member_info {
                    float: left;
                    margin-left: 8px
                }

                    body header .top .right ul li.profile .member_profile .member_info p {
                        line-height: 21px
                    }

                        body header .top .right ul li.profile .member_profile .member_info p.name {
                            font-weight: 600;
                            font-size: 15px;
                            margin-top: 1px
                        }

                        body header .top .right ul li.profile .member_profile .member_info p.title {
                            color: #f18121;
                            font-size: 13px;
                            text-transform: capitalize
                        }

        body header .top .right ul li.other {
            font-size: 17px;
            height: 44px;
            width: 44px;
            color: #fff;
            background-color: #76b852;
            border-radius: 150px;
            line-height: 44px;
            text-align: center;
            display: none;
            position: relative;
        }

        body header .top .right ul li button {
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 3px 0 rgb(0 0 0 / 25%);
            line-height: 34px;
            color: #fff;
            font-size: 12px;
            width: 100px;
            cursor: pointer;
            margin-left: 5px;
            background-color: #76b852;
            font-weight: 600;
            margin: 5px 0;
        }

    body header .bottom {
        height: 52px;
        width: 100%;
        background-color: #76b852;
    }

        body header .bottom .menu_hidden .expanded {
            display: block !important;
        }

        body header .bottom ul.menu_mobile li.menu_hidden {
            display: block;
        }

        body header .bottom ul li {
            padding-right: 25px;
            float: left;
            color: #fff;
            line-height: 52px;
            font-size: 14px;
        }

            body header .bottom ul li > .hidden_menu {
                display: none;
            }

        body header .bottom .book_tags {
            width: 100%;
            position: absolute;
            background-color: #fff;
            left: 0;
            color: #333;
            z-index: 2;
        }

            body header .bottom .book_tags .book_tags_content {
                margin: 22px 0;
            }

            body header .bottom .book_tags p {
                float: left;
                width: 140px;
                line-height: 40px;
            }

        body header .bottom .nav_menu {
            position: absolute;
            right: 15px;
            top: 25px;
            font-size: 30px;
            color: #fff;
            transform: translate(0, -50%);
        }

.user {
    float: right;
    font-size: 17px;
    height: 44px;
    width: 44px;
    color: #fff;
    background-color: #76b852;
    border-radius: 150px;
    line-height: 44px;
    text-align: center;
    position: relative;
}

.list_grid_out {
    margin-left: 0
}

ul.list_grid li {
    width: 180px;
    float: left;
    margin: 10px
}

    ul.list_grid li .book_avatar {
        height: 220px;
        width: 100%;
        overflow: hidden;
        border-radius: 6px;
        position: relative
    }

        ul.list_grid li .book_avatar img {
            width: 100%;
            min-width: 100%;
            height: auto;
            vertical-align: middle;
            display: inline-block;
            border: 1px solid #ccc;
        }

    ul.list_grid li .book_info .book_name {
        text-align: center;
        line-height: 35px;
        font-weight: 600;
        font-size: 13px;
        margin-top: 7px;
        height: 35px;
        max-width: 100%;
        overflow: hidden;
        text-transform: capitalize
    }

        ul.list_grid li .book_info .book_name h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

img.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.div_middle {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.field-validation-error {
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-top: 0.5em;
    font-size: 3em;
    color: #76b852;
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: inherit;
}

.right {
    float: right
}


.main-agileinfo {
    padding: 20px;
    z-index: 99999;
    color: #000;
}

.form-horizontal {
    width: 100%;
    margin: 2em auto;
    background-size: cover;
}

.col-md-10 {
    width: 100%
}

input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #76b852;
    outline: none;
    border: 1px solid #76b852;
    cursor: pointer;
    padding: 0.9em;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}

    input[type="submit"]:hover {
        transition: .5s all;
        background: #8DC26F;
    }

input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    width: 100%;
    border-color: #76b852;
    margin-bottom: 10px;
    padding: 0.8em;
    border: solid 1px #76b852;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}


.div_middle h2 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    line-height: 30px;
}

.content {
    padding-bottom: 20px;
}

.div_middle h2 .titlelist {
    color: #f18121;
    padding: 10px 0px;
}

.box-content {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px !important
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /*margin-left: -15px;
    margin-right: -15px;*/
}

    .row .col-2 {
        flex-basis: 100%;
    }

        .row .col-2 img {
            width: 100%;
        }

        .row .col-2 .btn {
            padding: 0;
        }

.pc_display {
    display: none !important
}

.clear {
    clear: both
}

.MenuTrang {
    padding-top: 20px;
    text-align: center;
}

    .MenuTrang li {
        padding-top: 20px;
        text-align: center;
        display: inline
    }

    .MenuTrang a {
        clear: both;
        color: #76b852;
        margin: 0 4px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        display: inline-block;
        border-radius: 150px;
        cursor: pointer;
        font-size: 16px;
        border: 1px solid #e2e2e2;
    }

    .MenuTrang .active a {
        background-color: #76b852;
        color: snow;
    }

.show-read-more .more-text {
    display: none;
}

.has-text-centered {
    padding-top: 10px;
    text-align: center !important;
}

.pagination {
    padding-top: 20px;
    text-align: center;
}

.content .main_content .book_detail .book_info .book_other p, body.detail .content .main_content .book_detail .book_info .book_other div span {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.content .main_content {
    padding-bottom: 25px;
    padding-top: 10px;
}

    .content .main_content .book_detail {
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
    }

        .content .main_content .book_detail .list_chapter {
            width: 100%;
            border-radius: 5px;
            max-height: 500px;
            overflow: auto;
            min-height: 300px;
            box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
            color: #4a4a4a;
            display: block;
            padding: 1.25rem;
            font-weight: 400;
            font-size: 15px;
        }

        .content .main_content .book_detail h3 {
            color: #76b852;
            font-size: 18px;
            font-weight: 400;
            line-height: 40px;
            position: relative;
            width: 100%;
            margin-top: 10px;
        }

        .content .main_content .book_detail .book_info {
            padding: 15px;
            position: relative;
        }

            .content .main_content .book_detail .book_info .book_avatar {
                height: 250px;
                overflow: hidden;
                width: 190px;
                border-radius: 5px;
                text-align: center;
                box-shadow: 0 0 8px 0 #757575;
                float: left
            }

                .content .main_content .book_detail .book_info .book_avatar img {
                    height: 100%;
                    width: auto;
                }

            .content .main_content .book_detail .book_info .book_other {
                width: calc(100% - 220px);
                float: right;
                text-align: left;
            }

                .content .main_content .book_detail .book_info .book_other h1 {
                    text-align: left;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 25px;
                    padding: 0 0 10px;
                    color: black;
                }

ul.list-info {
    clear: both;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

    ul.list-info li {
        display: block;
    }

        ul.list-info li p {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            padding: 0;
            text-transform: inherit;
            color: #000;
        }

        ul.list-info li p {
            padding-top: 0;
            line-height: 27px;
            float: left;
        }

.col-xs-3 {
    width: 17%;
}

.col-xs-9 {
    width: 83%;
}

.breadcrumb {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .breadcrumb li {
        display: inline;
        line-height: 23px;
    }

    .breadcrumb a {
        align-items: center;
        font-size: 13px;
        color: #424242;
    }

        .breadcrumb a span {
            font-size: 14px;
            font-weight: 600;
        }

.list01 {
    overflow: hidden;
    padding-bottom: 10px;
}

    .list01 li a {
        display: inline-block;
        border: 1px solid #76b852;
        color: #76b852;
        float: left;
        padding: 4px 6px;
        border-radius: 3px;
        margin-right: 10px;
    }

.comment-container {
    padding-top: 20px;
    padding-bottom: 40px;
}
    .comment-container .story-detail-title {
        color: #f18121;
        font-size: 20px;
    }
        .comment-container .story-detail-title i {
            margin-right: 10px;
        }

.book_detail span i {
    padding-right: 5px;
}

footer {
    background-color: #fff;
    border-top: 5px solid #76b852;
    padding: 20px 0;
}
